<%= form_with(url: products_path(params.permit(:search, :category_id)), method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :search, "Search Products" %>
    <%= form.text_field :search, placeholder: "Enter product name...", value: params[:search] %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, "Category" %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: "All Categories", selected: params[:category_id] %>
  </div>

  <%= form.submit "Search" %>
<% end %>
