<div class="container mt-5">
  <h1 class="text-center mb-4 text-coffee">Our Products</h1>
  <p class="text-center text-muted">Explore our collection of coffee blends, accessories, and apparel.</p>

  <!-- Search Form -->
  <div class="mb-4">
    <%= render 'search_form' %>
  </div>

  <!-- Products List -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card h-100 shadow">
          <% if product.image.attached? %>
            <%= link_to product_path(product) do %>
              <%= image_tag url_for(product.image), class: "card-img-top img-fluid rounded-top" %>
            <% end %>
          <% end %>
          <div class="card-body text-center bg-light-coffee text-dark-coffee">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text text-success text-black"><%= number_to_currency(product.price) %></p>
          </div>
          <div class="card-footer text-center bg-coffee text-white">
            <%= link_to 'View Details', product_path(product), class: "btn btn-sm btn-coffee me-2 text-white" %>
            <%= button_to 'Add to Cart', carts_path(product_id: product.id), method: :post, class: "btn btn-sm btn-coffee" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @products %>
  </div>
</div>
